* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    margin-top: 4rem;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.continuer {
    margin: 0 auto;
    width: 600px;
}

header {
    display: flex;
    justify-content: space-around;
}

.letter {
    border-bottom: 1px solid #534f59;
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

.letter--space {
    display: inline-block;
    font-size: 2rem;
    height: 2.4rem;
    line-height: 2.4rem;
    margin: 0 .1rem;
    text-align: center;
    text-transform: uppercase;
    width: 2.4rem;
}

.title {
    font-weight: 300;
    margin-bottom: .8rem;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.puzzle {
    display: flex;
    justify-content: center;
    margin-top: 4.8rem;
}

button {
    cursor: pointer;
    border: none;
    color: white;
    font-size: 1.4rem;
    padding: 1rem;
    outline: none;
    border-radius: 10%;
    transition: background .3s ease, color .3s ease;
}

.button--easy {
    background: #5d8cc9;
    border-bottom: 2px solid #3065ac;
}

.button--medium {
    background: #7044a0;
    border-bottom: 2px solid #603a88;
}

.button--Hard {
    background: #cc3a3a;
    border-bottom: 2px solid #9e2f2f;
}

.button--easy:hover {
    background: #3065ac;
}

.button--medium:hover {
    background: #603a88;
}

.button--Hard:hover {
    background: #9e2f2f;
}